body{
    background-image: url(kitchen1.png);
    background-repeat: no-repeat;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: space-around;
    flex-direction: column;
   
}
.our{
    color: white;
    font-size: 20px;
    font-family:'Trebuchet MS';
    position: relative;
    left: 50px;
    bottom: 60px;

}
.meal{
    color: white;
    font-family:'Segoe UI';
    letter-spacing: 2px;
    font-size: 70px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    position: relative;
    right: 25px;
    bottom: 40px;
   
}
.unleash{
 font-size: 20px;
  font-family:'Trebuchet MS';
  color: white;
position: absolute;
top: 160px;
right: 500px;
}